

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
  margin-bottom: 30px;
}

.select-doc {
  padding: 9px;
  margin: 10px;
  display: block;
}

#speech {
  display: block;
}

#flash {
  margin: 10px;
}

.content {
  margin-top: 50px;
}

.headrow {
  border-top: 0 !important;
}

.clear {
  clear: both;
}