

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
  margin-bottom: 30px;
}

.btn {
  margin: 10px 0 10px 0;
  display: block;
}

.lang-select {
  margin: 10px 0 0 0;
  width: 100px;
}

#flash {
  margin: 10px;
}

.content {
  margin-top: 50px;
}

.headrow {
  border-top: 0 !important;
}