

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
  margin-bottom: 30px;
}

.select-doc {
  padding: 9px;
  margin: 10px;
  display: block;
}

table td {
  width: 100px;
}

#speech {
  display: block;
}

#flash {
  margin: 10px;
}

.content {
  margin-top: 50px;
}

.headrow {
  border-top: 0 !important;
}

.clear {
  clear: both;
}

input[type=checkbox] {
  visibility: hidden;
}

input[type=checkbox]:after {
  visibility: visible;
  font-family: FontAwesome;
  font-size:30px;
  margin-top: -30px;
  margin-left: 10px;
  background-color: white;
  display: block;
  color: gray;
}

input[type=checkbox]:after
{
  content: '\f027';
}

 input[type=checkbox]:checked:after
{
  content: '\f028';
}

#not-supported {
  display: none;
  position:absolute;
  top:0;
  left:0;
  padding:100px;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.85);
  font-size: 30px;
  color: white;
  text-align: center;
}

#not-supported a {
  text-decoration: none;
}