<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
      <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/css/main.css">

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span6 offset3">
                    <h1>{{ .Title }}</h1>

                    <ul class="nav nav-tabs">
                      <li role="presentation"><a href="/">/</a></li>
                      <li role="presentation" class="active"><a href="/api/v1/docs">/api/v1/docs</a></li>
                    </ul>

                    <div class="content">
                        <table class="table table-responsive">
                            <tr>
                                <td class="col-sm-2 headrow">Method &amp; Path</td>
                                <td class="col-sm-5 headrow">Parameters</td>
                                <td class="col-sm-5 headrow">Request example</td>
                            </tr>
                            <tr>
                                <td class="col-sm-2">
                                    <code>POST</code>
                                    <br><br>
                                    <span class="badge">/api/v1/speak</span>
                                    </td>
                                <td class="col-sm-5">
                                    <div class="api-parameters">
                                        <div class="col-sm-12">
                                            <h4>Request</h4>
                                        </div>
                                    </div>

                                    <div class="api-parameters">
                                        <div class="col-sm-3"><code>text</code></div>
                                        <div class="col-sm-9">The text you want to play.</div>
                                    </div>
                                     <div class="api-parameters">
                                        <div class="col-sm-3"><code>lang</code></div>
                                        <div class="col-sm-9">Output language.
                                        <table>
                                            <tr>
                                                <td>German: </td>
                                                <td><code>de-DE</code></td>
                                            <tr>
                                                <td>Danish: </td>
                                                <td><code>da-DK</code></td>
                                            <tr>
                                                <td>American: </td>
                                                <td><code>en-US</code></td>
                                            <tr>
                                                <td>British: </td>
                                                <td><code>en-GB</code></td>
                                            <tr>
                                                <td>Spanish: </td>
                                                <td><code>es-ES</code></td>
                                            <tr>
                                                <td>Finnish: </td>
                                                <td><code>fi-FI</code></td>
                                            <tr>
                                                <td>French: </td>
                                                <td><code>fr-FR</code></td>
                                            <tr>
                                                <td>Norwegian: </td>
                                                <td><code>nb-NO</code></td>
                                            <tr>
                                                <td>Russian: </td>
                                                <td><code>ru-RU</code></td>
                                            <tr>
                                                <td>Swedish: </td>
                                                <td><code>sv-SE</code></td>
                                            </tr>
                                        </table>
                                        </div>
                                    </div>

                                    <div class="api-parameters">
                                        <div class="col-sm-12">
                                            <h4>Response</h4>

                                        </div>
                                    </div>
                                     <div class="api-parameters">
                                        <div class="col-sm-3"><code>success</code></div>
                                        <div class="col-sm-9">true or false</div>
                                    </div>
                                    <div class="api-parameters">
                                        <div class="col-sm-3"><code>message</code></div>
                                        <div class="col-sm-9">Speaks for itself</div>
                                    </div>
                                </td>
                            <td class="col-sm-5">

                                <pre><code class="api-code">curl --data "text=I love the smell of napalm in the morning.&lang=en-US" {host}/api/v1/speak</code></pre>
                                <pre><code class="api-code">
$url = $host.'/api/v1/speak';

$fields = array(
            'text' => "I'm going to make him an offer he can't refuse.",
            'lang' => 'en-US'
        );

$fields_string = "";
foreach ($fields as $key => $value) {
        $fields_string .= $key . '=' . $value . '&';
}
rtrim($fields_string, '&');

$ch = curl_init();
curl_setopt($ch, CURLOPT_URL, $url);
curl_setopt($ch, CURLOPT_POST, count($fields));
curl_setopt($ch, CURLOPT_POSTFIELDS, $fields_string);
$result = curl_exec($ch);
curl_close($ch);
                                </code></pre>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
